.logo{
    width: 12rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem 2.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-item{
    list-style: none;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 20px;
    transition: 0.3s ease;
    position: relative;
}

.nav-item a:hover{
    color: var(--primary-color);
}


.nav-item a:hover,
.nav-item a.active{
 color: var(--primary-color);
 
}


.nav-item a:hover::after{
    content: '';
    width: 40%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -4px;
    left: 18px;
}

.nav-cart{
height: 2rem;
position: relative;
background-color: var(--primary-color);
border-radius: var(--border-radius);
color: white;
padding: 2px 3px 4px 3px;
border: 2px solid white;
}

.cart-amount{
    position: absolute;
    background-color: var(--secondary-color);
    color: white;
    right:-10px;
    top:-16px;
    padding: 2px 6px;
    font-size: 14px;
    border-radius: var(--border-radius);
}