@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Nature";
    src: url("fonts/Nature.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Vibes";
    src: url("fonts/Vibes.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Organic";
    src: url("fonts/Organic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Driftwood";
    src: url("fonts/Driftwood.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Logs";
    src: url("fonts/Logs.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Firewood";
    src: url("fonts/Firewood.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #fff;
    --primary-color: #012920;
    --secondary-color: #0a5c4a;
    --secondary-color-hover:rgba(10, 92, 74, 0.663);
    --tertiary-color:#83fff3;
    --accent-color: #011d1a;
    --text-color:#fff;
    --text-muted: #333;
    --border-radius: .3rem;
    
  }

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
    color: #000;
}

.logo{
    width: 12rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem 2.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-item{
    list-style: none;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 20px;
    transition: 0.3s ease;
    position: relative;
}

.nav-item a:hover{
    color: var(--primary-color);
}


.nav-item a:hover,
.nav-item a.active{
 color: var(--primary-color);
 
}


.nav-item a:hover::after{
    content: '';
    width: 40%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -4px;
    left: 18px;
}

.nav-item--cart{
height: 2rem;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background: url("img/header-photo.jpg")rgba(83, 83, 83, 0.616);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 25% 75%;
    height: 80vh;
    box-shadow: 0px 15px 10px -15px #111; 
}

.header-text {
    text-align: center;
    margin: 2rem 0;
    font-size: 6rem;
    font-family: "Organic";
    color: var(--text-color);
}

.has-mg-y{
    margin: 40px 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-title {
    font-family: "Firewood";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.section-sub-title{
    text-align: center;
    color: var(--text-muted);
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product{
    width: 23%;
    padding: 10px 12px;
    min-width: 250px;
    border: 1px solid rgba(0, 0, 0, .02);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    margin: 15px 0;
    transition: .2s ease-in;
}

.product:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.product .product-img{
    width: 100%;
    border-radius: var(--border-radius);
}

.product-desc{
    text-align: start;
    margin: 10px 0;
}

.product-brand{
    color: var(--primary-color);
    font-weight: bold;
}
.product-name{
    margin: 10px 0;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: bold;
}

.product-price{
    color: var(--secondary-color);
    margin: 10px 0;
    font-weight: 700;
}

.product-cart{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    position: relative;
}

.product-price-cart-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    padding: .67rem .67rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 1px solid transparent;
}

.btn:hover{
    background-color: var(--secondary-color-hover);
}

.btn-header{
    padding: 1rem 2rem;
    margin-top: 20%;
    border: 1px solid white;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: var(--border-radius);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}


.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: var(--border-radius);
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: var(--border-radius);
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}