@import url('css/nav.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
    font-family: "Nature";
    src: url("fonts/Nature.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Vibes";
    src: url("fonts/Vibes.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Organic";
    src: url("fonts/Organic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Driftwood";
    src: url("fonts/Driftwood.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Logs";
    src: url("fonts/Logs.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Firewood";
    src: url("fonts/Firewood.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #fff;
    --primary-color: #012920;
    --secondary-color: #195038;
    --secondary-color-hover:#417A4A;
    --tertiary-color:#73A559;
    --accent-color: #417A4A ;
    --text-color:#fff;
    --text-muted: #333;
    --border-radius: .3rem;
    --italic-text: 'Organic', cursive;
     /* extra colors in palette yellow/sand #F9F871 light green #B1CF64 */
    /* https://mycolor.space/ */
  }

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
    color: white;
}

.italic-text{
    font-family: var(--italic-text);
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background: url("img/header-photo.jpg")rgba(83, 83, 83, 0.616);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 25% 75%;
    height: 80vh;
    box-shadow: 0px 15px 10px -15px #111; 
}

.header-text {
    text-align: center;
    margin: 2rem 0;
    font-size: 6rem;
    font-family: "Organic";
    color: var(--text-color);
}

.has-mg-y{
    margin: 40px 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-title {
    font-family: "Firewood";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.section-sub-title{
    text-align: center;
    color: var(--text-muted);
}
.products{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.product{
    width: 30%;
    padding: 10px 12px;
    min-width: 250px;
    border: 1px solid rgba(0, 0, 0, .02);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    margin: 15px 0;
    transition: .2s ease-in;
}

.product:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.product .product-img{
    width: 100%;
    border-radius: var(--border-radius);
}

.product-desc{
    text-align: start;
    margin: 10px 0;
}

.product-brand{
    color: var(--primary-color);
    font-weight: bold;
}
.product-name{
    margin: 10px 0;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: bold;
}

.product-price{
    color: var(--secondary-color);
    margin: 10px 0;
    font-weight: 700;
}

.product-cart{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    position: relative;
}

.product-price-cart-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-amount-wrapper{
    display: flex;
    align-items: center;
    padding: 4px;
}
.product-amount{
    padding: 0 15px;
}
.bi-dash-circle{
    color: #EB5757;
}

.bi-plus-circle{
    color: var(--secondary-color);
}
.cta{
background-color: #012920;
background-image: url('img/cta.svg');
background-attachment: fixed;
background-size: cover;
/* background by SVGBackgrounds.com */
height: 30vh;
text-align: center;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.cta-code{
    text-decoration: underline;
}
.cta-title{
    margin: 0;
}
/* .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 4; }
    .div2 { grid-area: 1 / 6 / 3 / 9; }
    .div3 { grid-area: 4 / 1 / 6 / 3; }
    .div4 { grid-area: 4 / 4 / 6 / 6; }
    .div5 { grid-area: 4 / 7 / 6 / 9; } */

.banners-sm{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.banner-box{
    background-color: #012920;
    background-image: url('img/banner-brochure.png');
    background-size: cover;
    /* background by SVGBackgrounds.com */
    min-width: 49%;
    height: 40vh;
    color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-shadow: 1px 1px #000;
    padding: 20px 50px;
}

.banner-box-2{
    background-image: url('img/small-banner.jpg');
}

.banner-box-2-p{
    margin: 0 0 2rem 0;
}

.social-icon{
    fill:#FFF;
    width: 35px;
}

.social-icon:hover{
   border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

.banner-box-lg{
    display: flex;
    margin-top: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('img/service-banner.jpg');
    height: 45vh;
    width:100%;
    background-size: cover;
    background-position: 25% 85%;
    text-shadow: 1px 1px #000;
}
.banner-box-title{
    background-color: var(--secondary-color);
    padding: 5px;
}

.banner-box-title--lg{
    margin: 1rem 0 0 0;
}

.banner-box-lg-subtitle{
    font-weight: bold;
    margin: 0 0 1rem 0;
    font-size: 20px;
}
.newsletter{
    background-color: var(--secondary-color);
    background-image: url('img/cta.svg');
    height: 20vh;
    
}
.newsletter-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    
}
.main-footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    padding: .67rem .67rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
}

.btn:hover{
    background-color: var(--secondary-color-hover);
}

.btn-header{
    padding: 1rem 2rem;
    margin-top: 20%;
    border: 1px solid white;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    
}
.btn-primary {
    border: 2px solid white;
    
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}


.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: var(--border-radius);
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: var(--border-radius);
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}