@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


@font-face {
    font-family: "Organic";
    src: url("fonts/Organic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Firewood";
    src: url("fonts/Firewood.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #fff;
    --primary-color: #012920;
    --secondary-color: #195038;
    --secondary-color-hover:#417A4A;
    --tertiary-color:#73A559;
    --accent-color: #417A4A ;
    --cta-color: #f9f871;
    --text-color:#fff;
    --text-muted: #333;
    --border-radius: .3rem;
    --italic-text: 'Organic', cursive;
     /* extra colors in palette yellow/sand #F9F871 light green #B1CF64 */
    /* https://mycolor.space/ */
  }

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

.italic-text{
    font-family: var(--italic-text);
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .italic-text{
        font-size: 25px;
    }
}

.button-empty-card{
   text-align: center;
   margin: 4rem;
}
.logo{
    width: 15rem;
}

@media screen and (max-width:768px){
    .logo{
        width: 12rem;
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1rem 3.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    position: fixed;
    top:0;
    width: 100%;
    min-height: 10vh;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav-item{
    list-style: none;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 30px;
    transition: 0.3s ease;
    position: relative;
    text-transform: uppercase;
}

.nav-item a:hover{
    color: var(--primary-color);
}


.nav-item a:hover,
.nav-item a.active{
 color: var(--accent-color);
 
}


.nav-item a:hover::after{
    content: '';
    width: 40%;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -4px;
    left: 18px;
}

.nav-cart{
height: 2rem;
position: relative;
background-color: var(--primary-color);
border-radius: var(--border-radius);
color: white;
padding:20px 10px;
border: 4px solid white;
display: flex;
align-items: center;
}

.cart-amount{
    position: absolute;
    background-color: var(--secondary-color);
    color: white;
    right:-15px;
    top:-20px;
    padding: 6px 10px;
    font-size: 18px;
    border-radius: var(--border-radius);
}

.mobile-burger{
    display: none;
    cursor: pointer;
    
}

.mobile-burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all .3s ease;
    border-radius: var(--border-radius);
}


@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }

 .nav{
     padding: 1rem 1rem;
 }

  .nav-items{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: var(--primary-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      transform: translateX(100%);
      transition: transform .5s ease-in;
  }
  .nav-item{
      padding: 2rem 0;
      opacity: 0;
  }
  .mobile-burger{
      display: block;
  }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line-top{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line-middle{
    opacity: 0;
}
.toggle .line-bottom{
    transform: rotate(45deg) translate(-5px,-6px);
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background: url("img/header-photo.jpg")rgba(83, 83, 83, 0.616);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 25% 75%;
    height: 90vh;
    box-shadow: 0px 15px 10px -15px #111; 
}

.header-title {
    text-align: center;
    padding-top: 11rem;
    font-size: 6rem;
    font-family: "Organic";
    color: var(--text-color);
    margin: 0;
}
@media screen and (max-width:768px) {
.header-title{
    padding-top: 6rem;
    height: 84vh;
}

.main-header{
    background-position: 50% 75%;
}
}
.has-mg-y{
    margin: 40px 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-title {
    font-family: "Firewood";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
}



.section-sub-title{
    text-align: center;
    color: var(--text-muted);
}
.products{
    display: flex;
    gap:40px;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    width: 30%;
    padding: 10px 12px;
    min-width: 250px;
    border: 1px solid rgba(0, 0, 0, .02);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    margin: 15px 0;
    transition: .2s ease-in;
}

.product:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.product .product-img{
    width: 100%;
    border-radius: var(--border-radius);
}

.product-desc{
    text-align: start;
    margin: 10px 0;
}

.product-brand{
    color: var(--primary-color);
    font-weight: bold;
}
.product-name{
    margin: 10px 0;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: bold;
}

.product-price{
    color: var(--secondary-color);
    margin: 10px 0;
    font-weight: 700;
}

.product-cart{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    position: relative;
}

.product-price-cart-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-amount-wrapper{
    display: flex;
    align-items: center;
    padding: 4px;
}
.product-amount{
    padding: 0 15px;
}
.bi-dash-circle{
    color: #EB5757;
    font-size: 2rem;
}

.bi-plus-circle{
    color: var(--secondary-color);
    font-size: 2rem;
}

.bi-x-square{
    color: #EB5757;
    font-size: 2rem;

}
.cta{
background-color: #012920;
background-image: url('img/cta.svg');
background-attachment: fixed;
background-size: cover;
/* background by SVGBackgrounds.com */
height: 30vh;
text-align: center;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

@media screen and (max-width:768px) {
    .cta{
        height: 50vh;
    }
}

.cta-code,
.cta-span{
    text-decoration: underline;
    font-size: 30px;
    color: var(--cta-color)
}
.cta-title{
    margin: 0;
    font-size: 30px;
}

.cta-text{
    font-size: 18px;
    margin: 2rem 0;
}
/* .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 4; }
    .div2 { grid-area: 1 / 6 / 3 / 9; }
    .div3 { grid-area: 4 / 1 / 6 / 3; }
    .div4 { grid-area: 4 / 4 / 6 / 6; }
    .div5 { grid-area: 4 / 7 / 6 / 9; } */

.banners-sm{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.banner-box{
    background-color: #012920;
    background-image: url('img/banner-brochure.png');
    background-size: cover;
    /* background by SVGBackgrounds.com */
    min-width: 49%;
    height: 40vh;
    color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-shadow: 1px 1px #000;
    padding: 20px 50px;
    margin-top: 0;
}

@media screen and (max-width:768px) {
    .banner-box{
        height: 40vh;
        margin-top: 2rem;
        padding: 0 50px
    }
}

.banner-box-2{
    background-image: url('img/small-banner.jpg');
}

.banner-box-2-p{
    margin: 0 0 2rem 0;
}

@media screen and (max-width:768px) {
    .banner-box-2-p{
        margin: 0 0 .4rem 0;
    }
}

.social-icon{
    fill:#FFF;
    width: 35px;
}

.social-icon:hover{
   border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

.banner-box-lg{
    display: flex;
    margin-top: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('img/service-banner.jpg');
    height: 45vh;
    width:100%;
    background-size: cover;
    background-position: 25% 85%;
    text-shadow: 1px 1px #000;
}
@media screen and (max-width:768px) {
   .banner-box-lg{
    height: 57vh;
    padding: 0 20px;
   }
}

.banner-box-title{
    padding: 5px;
}

.banner-box-title--lg{
    margin: 1rem 0 0 0;
}

.banner-box-lg-subtitle{
    font-weight: bold;
    margin: 0 0 1rem 0;
    font-size: 20px;
}
.newsletter{
    background-color: var(--secondary-color);
    background-image: url('img/cta.svg');
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.newsletter-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
@media screen and (max-width:768px) {
    .newsletter-wrapper{
        flex-direction: column;
    }
}

.news-form{
    display: flex;
    align-items: center;
    margin-top:0;
}

@media screen and (max-width:768px) {
    .news-form{
       margin-top:20px;
    }
}

.newsletter input{
    height: 3.2rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn {
    padding: .67rem .67rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    font-size: 20px;
}

.btn:hover{
    background-color: var(--secondary-color-hover);
}

@media screen and (max-width:768px) {
    .btn{
        font-size: 15px;
    }
}

.btn-header{
    padding: 1rem 2rem;
    margin-top: .8rem;
    border: 1px solid white;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width:768px) {
    .btn-wrapper{
        display: none;
    }
    }
.btn-primary {
    border: 2px solid white;
    
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.btn-submit{
    padding: 0.1rem 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width:768px) {
    .btn-submit{
        padding: 0.4rem 2rem;
    }
}

.btn-delete{
    background-color: #EB5757;
}
.btn-delete:hover{
    background-color: #eb0000;
}

/* .shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.shopping-alert{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
} */

.shopping-alert-text{
    font-family: 'Firewood';
    font-size: 3.5rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 1rem 0;
}

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 530px);
    justify-content: center;
    gap:1rem;

}
.cart-details{
    padding: 1rem;
}
.cart-item{
    padding: 10px 12px;
    border: 1px solid rgba(0, 0, 0, .02);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    margin: 15px 0;
    transition: .2s ease-in;
    display: flex;
    align-items: center;
}

.cart-item:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.cart-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.cart-price-x{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.cart-title-price{
    display: flex;
    align-items: center;
    gap:1rem;
}

.cart-price{
    background-color: var(--accent-color);
    color: white;
    padding: .4rem;
    border-radius: var(--border-radius);
}

@media screen and (max-width:768px) {
    .shopping-cart{
        grid-template-columns: 280px;
    }
    .cart-item{
        flex-direction: column;
    }
    .cart-price-x{
        width: 230px;
    }
}


.label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem 3.5rem;
}

.footer-nav-items{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav-item{
    font-size: 30px;
    padding: 0 1rem;
}
@media screen and (max-width:768px) {
    .footer-nav{
        flex-direction: column;
    }
    .footer-nav-items{
        padding: 0;
    }
}




